<%- include('../patrials/headers.ejs')%>
    <h1 class="st-font">hello world.</h1>
    <h1 class="st-font">This is home page</h1>
    <i class="fa-solid fa-envelope"></i>

<%- include('../patrials/footer.ejs')%>
