<%- include('../patrials/headers.ejs')%>

<div class="container-fluid bg-dark h-100">
    <div class="row">
        <div class="col-sm-2">
            <%- include('../patrials/sideBar.ejs', {page_name:'Home'})%>
        </div>

        <div class="col-sm-10">
           <div>
            <div class="text-center">
                <img src="/images/pic1.jpg" alt="pPhoto" class="img-thumbnail" width="250px" height="150px">
            </div>
            <div class="mt-5 text-white mx-5 text-justify">
                <h1 class="fw-bold st-font">Hello</h1>
                <div class="px-4" style="line-height: 2rem;">
                <p style="text-indent: 100px;">I am
                <b class="text-warning">Umesh Mehta</b> having 1+ year of full-stack 
                    development experience for global businesses, I offer the technical experties you are seeking for your web 
                    developer position.
                </p>
                <p>
                    sence earning my bachlor's degree in internet and web development from Itahari Namuna College, I have 
                    served as a web developer at 
                </p>
                </div>
            </div>
           </div>
        </div>

    </div>
</div>



<%- include('../patrials/footer.ejs')%>
