<%- include('../patrials/headers.ejs')%>

<div class="container-fluid bg-dark h-100">
    <div class="row">
        <div class="col-sm-2">
            <%- include('../patrials/sideBar.ejs', {page_name:'Services'})%>
              
        </div>
        <div class="col-sm-10">
            <div class="container mt-5">
                <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

                <div class="row text-center text-white mb-5">
                    <div class="col-sm-4">
                        <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
                        <h3>SEO</h3>
                        <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, quos exercitationem praesentium quibusdam veritatis at ullam consequuntur minima assumenda suscipit eius aliquam recusandae numquam laborum ipsam atque nobis voluptates. Facere!
                        Doloribus sunt ipsam aliquam perferendis recusandae unde tempore aliquid, eaque impedit placeat vero temporibus. Molestiae, quis reiciendis voluptate quas odio velit, ab libero iusto doloribus possimus harum, inventore alias nesciunt.
                        Cumque dolore harum sunt corrupti, obcaecati maiores, iste quae ullam voluptas nemo at quidem exercitationem, rerum animi suscipit repudiandae hic accusamus dolorem sint ut tempora ab. Laboriosam nemo facere sit.</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fas fa-palette fa-2x mb-3 i-color"></i>
                        <h3>WEB DESIGNING</h3>
                        <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt asperiores nostrum sequi minima excepturi explicabo assumenda vero! Hic, amet nulla ipsum dignissimos quia quibusdam, deserunt facere ipsa quis enim repudiandae.</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm-2">
            <h1>home</h1>
        </div>

    </div>
</div>



<%- include('../patrials/footer.ejs')%>
