.st-font{
    font-family: 'Satisfy', cursive;
    font-family: 'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}
.container-fluid{
    height: 100%;
}

.ss-color{
    color: silver;
}

.i-color{
    color: chartreuse;
}

.active{
    background-color: rgb(35, 181, 3);
    color: #fff;
}